# ========== User ==========
# 用户自定义的其他忽略文件

# ========== CMake ==========
# bin/
cmake-build-*/
bin_d/
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# ========== VS Code ==========
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# ========== Customize ==========
**/debug/
**/release/
**/.vs/
**/output/
*~$*

/.gitignore
Code/.idea/
